@model IEnumerable<EventManagementSystem.Models.Guestmodel>

    @{
        ViewData["Title"] = "Guests";
    }
    
    <h2>Admin -> Guests</h2>

    <p>
        <a asp-action="CreateGuest" class="btn btn-primary">Add New Guest</a>
        <a asp-action="Index" class="btn btn-secondary">Back</a>
    </p>
    <table class="table table-striped table-bordered">
        <thead class="thead-dark">
            <tr>
                <th>Guest Name</th>
                <th>Guest Gender</th>
                <th>City/Town/Village</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var guestModel in Model)
            {
                <tr>
                    <td>@guestModel.GuestName</td>
                    <td>@guestModel.GuestGender</td>
                    <td>@guestModel.ListCityTownVillage.FirstOrDefault(ctv => ctv.CityTownVillageID == guestModel.CityTownVillageID)?.CityTownVillageName</td>
                    <td>
                        <a asp-action="GuestEventsMap" asp-route-id="@guestModel.GuestId" class="btn btn-sm btn-warning">Event(s)Mappings</a>
                        <a asp-action="EditGuest" asp-route-id="@guestModel.GuestId" class="btn btn-sm btn-warning">Edit</a>
                        <a asp-action="DeleteGuest" asp-route-id="@guestModel.GuestId" class="btn btn-sm btn-danger">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
